html{
                font-size: 22px;
            }
            
            body{
                background-color: #333;
                color: whitesmoke;
            }

            a{
                color:lightgray;
            }

            a:hover, a:active{
                color: #eee;
            }